body {
  background: white;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

body a:link, body a:visited, body a:hover, body a:hover {
  text-decoration: none;
}

body #maincontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #maincontainer #search-pg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  margin: 0;
  padding: 0;
}

body #maincontainer #search-pg #search-bar {
  width: 80%;
  height: 50px;
  margin: 10px;
  border-radius: 50px;
  border: 1px #c2c2c2 solid;
  font-size: 30px;
  color: #5c5c5c;
  text-indent: 20px;
}

body #maincontainer #search-pg #search-bar:focus {
  outline: none !important;
}

body #maincontainer #header {
  color: white;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, right top, from(#b149ff), to(#00ffff));
  background: linear-gradient(to right, #b149ff 0%, #00ffff 100%);
}

body #maincontainer #header a:link, body #maincontainer #header a:visited, body #maincontainer #header a:active {
  color: white;
}

body #maincontainer #header #back {
  width: 40px;
  padding: 0;
  margin-left: 10px;
}

body #maincontainer #header #empty {
  width: 40px;
  padding: 0;
  margin-right: 10px;
}

body #maincontainer #header h1 {
  font-size: 40px;
  margin: 0px !important;
  padding: 15px;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body #maincontainer #search-btn {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  font-size: 70px;
  color: white;
  line-height: 0px;
  padding: 0px;
  padding-bottom: 10px;
  z-index: 1000;
  text-align: center;
  border: 0px;
  background: -webkit-gradient(linear, left top, right top, from(#b149ff), to(#00ffff));
  background: linear-gradient(to right, #b149ff 0%, #00ffff 100%);
  position: fixed;
  margin: 50px;
  bottom: 0;
  right: 0;
  cursor: pointer;
}

body #maincontainer #search-btn:focus {
  outline: none !important;
}

body #maincontainer #shelves .shelf {
  margin: 20px;
}

body #maincontainer #shelves .shelf hr {
  max-width: 20%;
  border: 0.5px lightgray solid;
  margin-top: 20px;
  margin-bottom: 20px;
}

body #maincontainer #shelves .shelf .shelf-title {
  text-align: center;
  font-size: 30px;
  position: relative;
  color: #5c5c5c;
  margin: 0;
  padding: 0;
}

body #maincontainer #shelves .shelf .shelf-books {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
}

body #maincontainer #shelves .shelf .shelf-books .book {
  width: 150px;
  height: 300px;
  margin: 10px;
  padding: 10px;
}

body #maincontainer #shelves .shelf .shelf-books .book h5, body #maincontainer #shelves .shelf .shelf-books .book h6 {
  padding: 0px;
  margin: 0px;
}

body #maincontainer #shelves .shelf .shelf-books .book h6 {
  color: #8b8b8b;
}

body #maincontainer #shelves .shelf .shelf-books .book h5 {
  color: #5c5c5c;
}

body #maincontainer #shelves .shelf .shelf-books .book .imgcont {
  position: relative;
  width: 160px;
  height: 230px;
  padding: 0;
  margin: 0;
}

body #maincontainer #shelves .shelf .shelf-books .book .imgcont img {
  width: 150px;
  height: 220px;
  padding: 0;
  margin: 0;
  -webkit-box-shadow: 0 10px 6px -6px #9c9c9c;
          box-shadow: 0 10px 6px -6px #9c9c9c;
}

body #maincontainer #shelves .shelf .shelf-books .book .imgcont .shelf-menu-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1000;
  color: white;
  padding: 0px;
  border: 0px;
  background-image: url("../icons/drop-down-arrow.svg");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
  background-color: #57caff;
}

body #maincontainer #shelves .shelf .shelf-books .book .imgcont .shelf-menu-btn select {
  cursor: pointer;
  height: 100%;
  width: 100%;
  opacity: 0;
  font-size: 15px;
}
/*# sourceMappingURL=app.css.map */